.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 245px;
  height: 67px;
  padding: 7px 7px 7px 43px;

  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;

  box-sizing: border-box;
  background: #27AE60;
  border-radius: 65px;
  border: 5px solid white;
  box-shadow: 0 0 0 1px rgba(25, 130, 189, 0.11);
  cursor: pointer;

  transition-duration: 0.4s;
  transition-timing-function: linear;

  &::after {
    content: "";
    display: block;
    width: 43px;
    height: 43px;
    background-color: #FFFFFF;
    border-radius: 50%;
    background: #35B86C url("../../img/button_arrow.svg") center no-repeat;
  }

  &:hover, &:focus {
    border: 5px solid #27AE60;
    background-color: #FFFFFF;
    color: #27AE60;
    box-shadow: none;

    &::after  {
      background-color: lighten(#35B86C, 20%);
    }
  }

  &:active {
    opacity: 0.7;
  }

}
