.features {
  padding-top: 463px;
  overflow: hidden;

  background: url("../../img/advantage-girls.png") center no-repeat, url("../../img/background-2.png") center no-repeat;
  background-size: auto 518px; //200%
  background-position: left -146px top 36px;
}

.features__inner {
  display: flex;
  flex-direction: column;
}

.features__tittle {
  order: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  color: #27AE60;

  padding: 0 15px;
  margin: 0;
  margin-bottom: 40px;

}

.features__list {
  order: 3;
  padding: 0 20px 0 15px;
  margin: 0;
}

.features__item {
  margin-bottom: 31px;
}

@media (min-width: 768px) {
  .features {
    padding-top: 900px;
    padding-left: 90px;

    background-size: 1100px auto;
    background-position: top 100px left -115px;
  }

  .features__tittle {
    font-size: 41px;

    margin-bottom: 85px;
  }

  .features__list {
    padding-right: 0;
    width: 556px;
  }

  .features__item {
    margin-bottom: 40px;
  }

  .features__item {
    margin-bottom: 40px;
  }

  .features__item--identity {
    margin-bottom: 55px;
  }
}

@media (min-width: 1560px) {
  .features {
    padding: 0;
    padding-top: 97px + 80px - 10px;

    overflow: hidden;
    background:
      url("../../img/plant.png") left bottom -300px no-repeat,
      url("../../img/advantage-girls.png") left 100px top 180px no-repeat,
      url("../../img/features-background_pc.png") bottom no-repeat;
    background-size: auto, 1260px auto, 100% auto;
  }

  .features__inner {
    padding-top: 100px;
    padding-right: 350px;
    width: 1560px;
    padding-bottom: 300px;

    margin: 0 auto;
  }

  .features__tittle {
    width: 554px;
    padding: 0;
    margin-left: auto;
    margin-bottom: 86px;
  }

  .features__list {
    margin-left: auto;
  }
}
