.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 38px 15px;
}

.header__navigation {
  display: none;
}

.header__logo {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  text-decoration: none;
}

.header__navigation-list {
  margin: 0;
  padding: 0;
}

.header__navigation-item {
  list-style: none;
}

.header__navigation-link {
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  text-decoration: none;
}

.header__navigation-link--active {
  color: #27AE60;
}

.header__navigation--opened {
  display: block;
}

.header__close-menu-button {
  display: none;
}

.header__open-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38px;
  height: 6px;
  border: none;

  background: #27AE60;
  border-radius: 32px;
  box-shadow: 0 -10px 0 #27AE60, 0 10px 0 #27AE60;
}


@media(min-width: 768px) {
  .header {
    justify-content: flex-start;
    align-items: flex-start;

    width: 520px;
    padding: 45px 138px 45px 110px;
  }

  .header__logo {
    display: block;
    flex-shrink: 0;
  }

  .header__open-menu-button {
    display: none;
  }

  .header__navigation {
    display: block;
  }

  .header__navigation-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .header__navigation-item { //:not(:first-child) {
    margin-left: 50px;
  }

  .header__navigation-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media(min-width: 1560px) {
  .header {
    width: 1135px;
    padding: 40px 40px 40px 40px;
    margin-bottom: 34px;
  }

  .header__logo {
    font-size: 18px;
    margin-right: 203px;
  }

  .header__navigation-item {
    margin: 0;
  }

  .header__navigation-item:not(:first-child) {
    margin-left: 112px;
  }

  .header__navigation-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
