.infinity-slider {
  position: relative;
  padding: 0 30px;
}

.infinity-slider__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #27AE60;

  margin: 0;
  margin-bottom: 41px;
}

.infinity-slider__list {
  margin: 0;
  padding: 0;
}

.infinity-slider__item {
  list-style: none;
}

.infinity-slider__control {
  position: absolute;

  &--left {
    top: 297px;
    left: 2.5px;
  }

  &--right {
    top: 297px;
    right: 2.5px;
  }
}

@media(min-width: 768px) {
  .infinity-slider {
    padding: 0;
  }

  .infinity-slider__title {
    font-size: 41px;
    line-height: 118%;

    padding: 0 130px;
    margin-bottom: 48px;
  }

  .infinity-slider__control {
    position: absolute;
    top: 318px;

    &--left {
      left: 26px;
    }

    &--right {
      right: 26px;
    }
  }
}
