.infinity-slider {
  padding: 0 30px;

  @media(min-width: 450px) and (max-width: 767px){
    padding: 0 90px;
  }
}

.infinity-slider__container {
  position: relative;
}

.infinity-slider__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #27AE60;

  margin: 0;
  margin-bottom: 41px;
}

.infinity-slider__list {
  margin: 0;
  padding: 0;
}

.infinity-slider__item {
  list-style: none;
}

.infinity-slider__control {
  position: absolute;
  top: 205px;

  &--left {
    left: -28px;
  }

  &--right {
    right: -28px;
  }
}

@media(min-width: 768px) {
  .infinity-slider {
    overflow: hidden;
    padding: 0;
  }

  .infinity-slider__list {
    position: relative;
    left: -630px;
    display: flex;
  }

  .infinity-slider__item {
    left: -72px;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 19px;
    }
  }

  .infinity-slider__title {
    font-size: 41px;
    line-height: 118%;

    padding: 0 130px;
    margin-bottom: 48px;
  }

  .infinity-slider__control {
    position: absolute;
    top: 173px;

    &--left {
      left: 26px;
    }

    &--right {
      right: 26px;
    }
  }
}

@media(min-width: 1560px) {
  .infinity-slider {
    padding-bottom:50px;
    padding-top: 156px;
    background: url("../../img/pattern-infinity-slider.png") left top no-repeat;
  }

  .infinity-slider__container {
    max-width: 100%;
    //left: -72px;
    margin: 0 auto;
  }

  .infinity-slider__title {
    margin-bottom: 83px;
  }

  .infinity-slider__list {
    left: 0;
    padding: 0;
    margin: 0 auto;
    left: -55px;

  }

  .infinity-slider__control {
    top: 174px;

    &--left {
      left: 29.4%;
      left: 29vw;
    }

    &--right {
      right: 28.4%;
      right: 29vw;
    }
  }
}
