html {
  background-color: #000000;
}

.page {
  width: 768px;
  font-family: 'Lato';
  color: #000000;

  margin: 0 auto;
  background: #FFFFFF url("../../img/promo_background.jpg") top no-repeat;
}

.page__promo {
  margin-bottom: 80px;
}

.page__slider {
  margin-bottom: 0px;
}

.page__benefits {
  margin-bottom: 65px;
}

.page__infinity-slider {
  margin-bottom: 50px;
}

.page__features {
  margin-bottom: 78px;
}

.page__order {
  margin-top: -167px;
}

@media(min-width: 768px) {
  .page__header {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .page__promo {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .page__slider {
    margin: 0 34px 0 100px;
    margin-bottom: 52px;
  }

  .page__benefits {
    margin-bottom: 80px;
  }

  .page__features {
    margin-bottom: 187px;
  }

  .page__order {
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 238px;
  }
}
