html {
  background-color: #000000;

}

.page {
  font-family: 'Lato';
  color: #000000;
  background: #FFFFFF url("../../img/background_mobile.png") top no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  min-width: 320px;
}

.page__promo {
  margin-bottom: 80px;
}

.page__slider {
  margin-bottom: 0px;
}

.page__benefits {
  margin-bottom: 65px;
}

.page__infinity-slider {
  margin-bottom: 50px;
}

.page__features {
  margin-bottom: 78px;
}

.page__order {
  margin-top: -167px;
}

@media(min-width: 768px) {
  .page {
    background: #FFFFFF url("../../img/background_tablet.png") top no-repeat;
    background-size: 100% auto;
  }

  .page__header {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .page__promo {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .page__slider {
    margin: 0 34px 0 100px;
    margin-bottom: 52px;
  }

  .page__benefits {
    margin-bottom: 80px;
  }

  .page__features {
    margin-bottom: 187px;
  }

  .page__order {
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 238px;
  }
}

@media(min-width: 1560px) {
  .page {
    background: #FFFFFF url("../../img/background_pc.png") top no-repeat;
    background-size: 100% auto;
  }

  .page__slider {
    margin: 0;
    margin-bottom: 0px;
  }

  .page__benefits {
    margin-bottom: 156px;
    margin: 0;
  }

  .page__infinity-slider {
    z-index: 2;
    margin: 0;
    //margin-bottom: 40px;
  }

  .page__features {
    z-index: 1;
    margin-bottom: 40px;
  }

  .page__gallery {
    margin-bottom: 23px;
  }

  .page__order {
    margin-bottom: 0;
  }

  .page__content {
    background: url("../../img/pattern-main_pc.png") bottom right no-repeat;
    padding-bottom: 91px;
  }
}
