.slider {
  position: relative;
  height: 501px;
  overflow: hidden;

}

.slider__list {
  margin: 0;
  padding: 0;
}

.slider__item {
  display: none;
  text-align: center;
  list-style: none;

  &--current {
    display: block;
  }
}

.slider__slide-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 105.5%;
  text-align: center;
  color: #2B2B2B;

  margin: 0;
  margin-bottom: 15px;
}

.slider__slide-image-container {
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 39px;
}

.slider__slide-image {
  width: 650px;
}

.slider__control {
  position: absolute;
  top: 228px;

  &--left {
    left: 14px;
  }

  &--right {
    right: 14px;
  }

  @media(min-width: 500px) and (max-width: 767px){
    &--left {
      left: 80px;
    }

    &--right {
      right: 80px;
    }
  }
}

@media(min-width: 768px) {
  .slider {
    height: 624px;

    &::before {
      content: "";
      position: absolute;
      top: 36px;
      right: 0;

      box-sizing: border-box;
      width: 502px;
      height: 502px;

      border-radius: 50%;
      border: 2px solid rgba(#27AE60, 0.1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 76px;
      right: 40px;

      box-sizing: border-box;
      width: 420px;
      height: 420px;

      border-radius: 50%;
      background-color: rgba(#27AE60, 0.1);
    }
  }

  .slider__control {
    display: none;
  }

  .slider__list {
    position: relative;
  }

  .slider__item {
    display: block;
    position: relative;
  }

  .slider__slide-label {
    position: absolute;
    padding-right: 60px;
    z-index: 2;

    color: #BFBFBF;
    font-size: 14px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      right: 16px;

      box-sizing: border-box;
      width: 29px;
      height: 29px;

      border-radius: 50%;
      border: 1px solid rgba(#27AE60, 0.3);
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      right: 21px;

      box-sizing: border-box;
      width: 18px;
      height: 18px;

      border-radius: 50%;
      background-color: rgba(#27AE60, 0.3);
    }

    &--first {
      left: 17px;
      top: 118px;
    }

    &--second {
      left: 0px;
      top: 280px;
    }

    &--third {
      left: 10px;
      top: 437px;
    }
  }

  .slider__slide-label--active {
    font-size: 18px;
    color: #2B2B2B;

    &::before {
      top: -17px;
      right: 0;

      width: 50.5px;
      height: 50.5px;

      border: 1px solid #27AE60;
    }

    &::after {
      top: -8px;
      right: 9px;

      width: 33px;
      height: 33px;

      background-color: #27AE60;
    }
  }

  .slider__slide-image-container {
    margin-top: 0;
  }

  .slider__slide-image {
    position: absolute;
    display: none;

    top: 45px;
    left: 0px;

    width: 800px;
  }

  .slider__slide-image--active {
    z-index: 1;
    display: block;
  }
}

@media(min-width: 1560px) {
  .slider {
    padding-top: 10px;
    width: 863px;


    &::before {
      top: 105px;
      right: 167px;
    }

    &::after {
      top: 146px;
      right: 209px;
    }
  }

  .slider__slide-label {
    &--first {
      left: 63px;
      top: 178px;
    }

    &--second {
      left: 47px;
      top: 340px;
    }

    &--third {
      left: 55px;
      top: 498px;
    }
  }

  .slider__slide-label--active {
    &::before {
      top: -17px;
      right: 0;
    }

    &::after {
      top: -8px;
      right: 9px;
    }
  }

  .slider__slide-image--active {
    width: 1060px;
    top: 50px;
    left: -30px;
  }
}


