.slider-control {
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #27AE60;
  border: 1px solid #27AE60;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    display: block;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;

  }

  &--left::before {
    left: 13px;
    transform: rotate(135deg);
  }

  &--right::before {
    right: 13px;
    transform: rotate(-45deg);
  }

  &:hover {
    border: 1px solid #27AE60;
    background-color: #FFFFFF;

    &::before {
      border-color: #27AE60;
    }
  }

  &:active {
    background-color: #27AE60;
    border: 1px solid #27AE60;

    &::before {
      border-color: #FFFFFF;
    }
  }

  &:disabled {
    border: 1px solid #27AE60;
    background-color: transparent;
    opacity: 0.3;

    &::before {
      border-color: #27AE60;
    }
  }

  @media (max-width: 767px) {
    &--mobile {
      border: none;
      background-color: transparent;
    }

    &--mobile::before {
      width: 18px;
      height: 18px;
      border-bottom: 4px solid #27AE60;
      border-right: 4px solid #27AE60;
    }
  }

  @media (min-width: 768px) {
    width: 53px;
    height: 53px;

    &::before {
      width: 12px;
      height: 12px;
      top: 20px;
    }

    &--left::before {
      left: 23px;
    }

    &--right::before {
      right: 23px;
    }
  }
}
