.slide {
  display: none;
  text-align: center;

  &--current {
    display: block;
  }
}

.slide__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 105.5%;
  text-align: center;
  color: #2B2B2B;

  margin: 0;
  margin-bottom: 15px;
}

.slide__image {
  /* width: 260px;
  height: 419px; */
}
